.full-width-table {
    width: 100%;
}

    
tr.mat-row:hover {
    background-color: #b1b8dc;
    cursor: pointer;
}

.fill-remaining-space {
    /* This fills the remaining space, by using flexbox.
        Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.color-success { color: #70b15a; }
.color-fail { color: red; }

.spinner-container mat-spinner {
    margin: 130px auto 0 auto;
}