<!-- <div class="mat-elevation-z8"> -->
<div>
  <mat-toolbar>
    <span>Activity Log</span>
    <span class="fill-remaining-space"></span>
    <mat-form-field floatLabel="never">
      <input matInput type="search" (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      <mat-icon matSuffix style="font-size: 120%">search</mat-icon>
    </mat-form-field>
  </mat-toolbar>
  <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let row">{{row.id}}</td>
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>User</th>
      <td mat-cell *matCellDef="let row">{{row.username}}</td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
      <td mat-cell *matCellDef="let row">{{row.action}}</td>
    </ng-container>

    <!-- Time Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
      <td mat-cell *matCellDef="let row">{{row.time | date:'MMM d, y H:mm:ss'}}</td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let row">
        <mat-icon *ngIf="isActivityLogSuccess(row.status)" class="color-success" matListIcon>check_circle_outline</mat-icon>
        <mat-icon *ngIf="!isActivityLogSuccess(row.status)" class="color-fail" matListIcon>error_outline</mat-icon>
      </td>
    </ng-container>

    <!-- actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" matTooltip="Remove activity" (click)="delete(row)" *hasPrivilege="['ROLE_ACTIVITY_PRIVILEGE']">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource.data.length"
      [pageIndex]="0"
      [pageSize]="20"
      [pageSizeOptions]="[10, 20, 50, 100]">
  </mat-paginator>
</div>
      
