<!-- <div class="mat-elevation-z8"> -->
<div>
  <mat-toolbar>
    <span>Users</span>
    <span class="fill-remaining-space"></span>
    <!-- <div [hidden]="dataSource.loading$ | async"> -->
    <mat-form-field floatLabel="never">
      <input matInput type="search" placeholder="Filter..." #input>
      <mat-icon matSuffix style="font-size: 120%">search</mat-icon>
    </mat-form-field>
    <!-- </div> -->
  </mat-toolbar>

  <div class="spinner-container" *ngIf="dataSource.loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <div [hidden]="dataSource.loading$ | async">
    <button mat-fab color="primary" id="add-button" matTooltip="Add user" (click)="createUser()"><i
        class="material-icons">add</i></button>
    <table mat-table class="full-width-table" [dataSource]="dataSource" matSort aria-label="Elements">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>

      <!-- User name Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>User name</th>
        <td mat-cell *matCellDef="let row">{{row.username}}</td>
      </ng-container>

      <!-- Last name Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last name</th>
        <td mat-cell *matCellDef="let row">{{row.lastName}}</td>
      </ng-container>

      <!-- First name Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>First name</th>
        <td mat-cell *matCellDef="let row">{{row.firstName}}</td>
      </ng-container>

      <!-- Roles Names Column -->
      <ng-container matColumnDef="roleNames">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Roles</th>
        <td mat-cell *matCellDef="let row">
          <mat-cell matTooltip="{{role.description}} " *ngFor="let role of row.roles">
            {{role.name}}
          </mat-cell>
        </td>
      </ng-container>

      <!-- actions -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>

        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" matTooltip="Edit user" (click)="editUser(row.id)">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button color="primary" matTooltip="Remove user" (click)="deleteUser(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (dblclick)="editUser(row)"></tr>
    </table>

    <mat-paginator #paginator [length]="dataSource.totalElements$ | async" [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions">
    </mat-paginator>
  </div>
</div>
